.test {
    color: red;
  }

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to right, #091428, #0A1428);
  }

  .navbar {
    position: fixed; /* Barre de navigation fixée */
    left: 0; /* Collée à gauche */
    top: 0; /* Collée en haut */
    width: 110px; /* Largeur de la barre de navigation */
    height: 100%; /* Hauteur de la barre de navigation (100% de la hauteur de la fenêtre) */
    background-color: #333; /* Couleur de fond de la barre de navigation */
  }

/* Style de la liste non ordonnée (ul) dans la barre de navigation */
.navbar ul {
    list-style: none; /* Supprime les puces de liste */
    padding: 0; /* Supprime le rembourrage */
  }

/* Style des éléments de liste (li) dans la barre de navigation */
.navbar li {
    padding: 10px 0; /* Espacement vertical des éléments de la liste */
  }

/* Style des liens (a) dans la barre de navigation */
.navbar a {
    display: block; /* Les liens occupent toute la largeur de la barre de navigation */
    text-decoration: none; /* Supprime la décoration de texte par défaut */
    color: #fff; /* Couleur du texte */
    padding: 10px 20px; /* Espacement interne des liens */
    transition: background-color 0.3s; /* Animation de transition pour le changement de couleur au survol */
  }

/* Style des liens au survol */
.navbar a:hover {
    background-color: #555; /* Couleur de fond au survol */
  }

  .container {
    display: flex;
    gap: 10px;
    border-radius: 10px;
    background-color: #1E282D;
    padding: 20px;
    margin-left: 730px;
    margin-right: 730px;
    margin-bottom: 150px;
  }

  #dropdown {
    padding: 8px;
    border-radius: 5px;
  }

  
  #dropdown-container {
    position: relative;
  }
  
  #dropdownBtn.fixed-width {
    width: 150px; /* Ajustez la largeur fixe selon vos besoins */
  }

  #dropdownBtn {
    background-color: #5B5A56;
    border: none;
  }
  
  #dropdownOptions {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    width: 100%;
    z-index: 1000;
    overflow-y: auto;
  }
  
  #dropdownOptions .btn {
    width: 100%;
    text-align: left;
    box-sizing: border-box;
    text-align: center;
  }
  
  #dropdownOptions .btn.fixed-width {
    width: 150px; /* Ajustez la largeur fixe selon vos besoins */
  }
  
  #textInput {
    padding: 8px;
    border-radius: 5px;
  }

  .btn.selected {
    background-color: #414141; /* Changer la couleur de fond en bleu */
    color: white; /* Changer la couleur du texte en blanc */
  }

  .label {
    font-weight: bold;
    color: #ffffff;
    flex-direction: column;
  }

  .labeltextbtn {
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    margin-bottom: 5px;
  }

  .labeltext {
    font-weight: bold;
    text-align: center;
    color: #ffffff;
  }
  