.test {
    color: red;
  }

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to right, #091428, #0A1428);
  }

  .container {
    display: flex;
    gap: 10px;
    border-radius: 10px;
    background-color: #1E282D;
    padding: 20px;
    margin-left: 730px;
    margin-right: 730px;
  }

  #dropdown {
    padding: 8px;
    border-radius: 5px;
  }

  
  #dropdown-container {
    position: relative;
  }
  
  #dropdownBtn.fixed-width {
    width: 150px; /* Ajustez la largeur fixe selon vos besoins */
  }

  #dropdownBtn {
    background-color: #5B5A56;
    border: none;
  }
  
  #dropdownOptions {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    width: 100%;
    z-index: 1000;
    overflow-y: auto;
  }
  
  #dropdownOptions .btn {
    width: 100%;
    text-align: left;
    box-sizing: border-box;
    text-align: center;
  }
  
  #dropdownOptions .btn.fixed-width {
    width: 150px; /* Ajustez la largeur fixe selon vos besoins */
  }
  
  #textInput {
    padding: 8px;
    border-radius: 5px;
  }

  .btn.selected {
    background-color: #414141; /* Changer la couleur de fond en bleu */
    color: white; /* Changer la couleur du texte en blanc */
  }

  .label {
    font-weight: bold;
    color: #ffffff;
    flex-direction: column;
  }

  .labeltextbtn {
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    margin-bottom: 5px;
  }

  .labeltext {
    font-weight: bold;
    text-align: center;
    color: #ffffff;
  }
  